.deviceview {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(26, 1fr); /* Set up 26 equal columns */
	grid-auto-rows: 1fr; /* Let the rows auto-size to maintain square ratio */
	gap: 5px; /* Space between grid items */
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	width: 100%; /* Full container width */
	max-width: 100%; /* Prevent overflow */
	margin: auto;
	overflow: hidden;
	min-height: 0; /* Allow container to grow based on content */
}

.deviceview a {
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	display: flex;  /* Flexbox to center the content */
	justify-content: center;
	align-items: center;
	width: 100%; /* Fill grid cell */
	aspect-ratio: 1 / 1; /* Ensure a square shape */
	box-sizing: border-box;
}

.deviceview a img {
	width: 80%; /* Make the image fill most of the container */
	height: auto; /* Maintain the aspect ratio */
}

.deviceview a:hover {
	transform: scale(1.2);
}

.device-view-port.nocolor {
	background: repeating-linear-gradient(
		-45deg,
		grey,
		grey 
